<div class="list-order-container">
  <div class="header">
    <h5>Bàn số 1</h5>
    <a [routerLink]="['..','detail']">Chi tiết</a>
  </div>
  <div class="row screen">
    <div class="col-8">
      <h5 class="text-center mb-2">Menu</h5>
      <div class="menu">
        <div class="menu-item" (click)="itemActive = 1" [class.active]="itemActive === 1">Đồ ăn</div>
        <div class="menu-item" (click)="itemActive = 2" [class.active]="itemActive === 2">Đồ uống</div>
      </div>
      <div class="list-item row" *ngIf="itemActive === 1">
        <div class="col-6" *ngFor="let item of foods">
          <div class="item">
            <div class="card-image">
              <img [src]="item?.imageUrl" alt="">
            </div>
            <div class="item-detail">
              <h5>{{item?.name}}</h5>
              <div>Giá: {{item?.price | number}} VNĐ</div>
              <button class="btn btn-sm btn-primary" (click)="addItem(item)">Thêm</button>
            </div>
          </div>
        </div>
      </div>
      <div class="list-item" *ngIf="itemActive === 2">
        <div class="item" *ngFor="let item of drinks">
          <div class="card-image">
            <img [src]="item?.imageUrl" alt="">
          </div>
          <div class="item-detail">
            <h5>{{item?.name}}</h5>
            <div>Giá: {{item?.price | number}} VNĐ</div>
            <button class="btn btn-sm btn-primary" (click)="addItem(item)">Thêm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 right">
      <h5 style="padding: 8px 0;border-bottom: 1px solid #cccccc;">Order</h5>
      <div class="menu-right">
        <!-- <div class="menu-head">
         <div></div>
        </div> -->
        <div class="list-item-order">
          <div class="item-order" *ngFor="let item of itemOrders">
            <div style="display: flex;justify-content: space-between;align-items: center;">
              <p>{{item.name}}</p>
              <div class="order-number">
                <i class="fa fa-minus" (click)="minus(item?.id)"></i>
                <span>{{item?.number}}</span>
                <i class="fa fa-plus" (click)="plus(item?.id)"></i>
              </div>
              <div class="delete-icon">
                <i class="fa fa-plus" (click)="remove(item?.id)"></i>
              </div>
            </div>
            <div class="d-flex mt-2" style="align-items: flex-end;">
              <div class="" style="font-size: 12px;">Note</div>
              <input type="text" class="form-control-sm form-control"
                style="border: none;border-bottom: 1px solid #cccccc;font-size: 14px;height: 26px;"
                (input)="note(item?.id,$event)">
            </div>
          </div>
        </div>
        <div class="right-bottom">
          <div class="total-price">
            <div>Total price</div>
            <div>{{totalPrice | number}} VNĐ</div>
          </div>
          <div class="actions">
            <button class="btn-sm btn btn-danger mr-3" (click)="order()">Gọi món</button>
            <button class="btn btn-sm btn-warning" (click)="payment()">Thanh toán</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>