<div class="modal-header">
  <h5 class="mb-0" *ngIf="id">Thêm mới bàn</h5>
  <h5 class="mb-0" *ngIf="!id">Cập nhật bàn</h5>
  <a (click)="hide()">&times;</a> 
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group d-flex">
      <label class="form-control-label">Tên sản phẩm</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group d-flex">
      <label for="" class="form-control-label">Số chỗ ngồi</label>
      <input type="number" class="form-control" min="0" step="1" formControlName="totalSeats">
    </div>
    <div class="form-group d-flex">
      <label for="" class="form-control-label">Trạng thái</label>
      <select formControlName="status" class="form-control">
        <option value="" hidden>Chọn trạng thái</option>
        <option [value]="'Available'">Active</option>
        <option [value]="'Unavailable'">InActive</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="hide()">Hủy bỏ</button>
  <button class="btn btn-primary" (click)="submit()">Lưu lại</button>
</div>