<div class="modal-header">
  <h5 class="mb-0">Chi tiết hóa đơn</h5>
  <a (click)="closeModal()" class="cursor-pointer">&times;</a>
</div>
<div class="modal-body">
  <div class="order-header">
    <div class="date">
      Ngày tạo hóa đơn: {{createdDate | date: 'dd/MM/yyyy HH:MM:SS'}}
    </div>
    <div>
      Tổng hóa đơn: {{item?.totalPrice | number}}
    </div>  
  </div>
  <div class="list-item">
    <div class="item item-head">
      <h6>#</h6>
      <h6>Tên món</h6>
      <h6>Số lượng</h6>
      <h6>Đơn giá</h6>
      <h6>Thành tiền</h6>
    </div>
    <div class="item" *ngFor="let item of item?.items; let index = index">
      <div>{{index+1}}</div>
      <div class="item-name">{{item?.name}}</div>
      <div class="item-type">{{item?.quantity}}</div>
      <div class="">{{(item?.price/item?.quantity) | number}}đ</div>
      <div class="item-price">{{item?.price | number}}</div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary">Thanh toán</button>
  <button class="btn btn-secondary" (click)="closeModal()">Đóng</button>
</div>