.header {
  padding: 1.25rem;
  border-bottom: 1px solid #e2e5e8;
}
.body {
  overflow: auto;
  padding: 20px;
  height: calc(100% - 65px);
}
.sales-report {
  .header {
    select {
    width: 168px;
    font-size: 14px;
    height: 22px;
    margin-left: 16px;
    }
  }
}