<div class="header">
  <h5 class="mb-0">Quản lý hóa đơn</h5>
</div>
<div class="body" simplebar>
  <div class="row">
    <div class="col-6">
      <div class="sales-report">
        <div class="d-flex header">
          <h6>Báo cáo doanh thu</h6>
          <select [(ngModel)]="salesReport">
            <option value="day">Doanh thu trong ngày</option>
            <option class="week">Doanh thu của tuần</option>
            <option class="month">Doanh thu của tháng</option>
            <option value="year">Doanh thu của năm</option>
          </select>
        </div>
        <div style="display: block">
          <canvas width="600px" baseChart [datasets]="barChartData" [labels]="barChartLabels"
            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>